/* Action buttons */
.action-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}


  .action-buttons {
    display: flex;
    gap: 10px;
    margin: 20px;
  }

  .btn-action {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    color: white;
  }

  .btn-action:nth-child(1) {
    background-color: #638dff; 
  }

  .btn-action:nth-child(2) {
    background-color: #415f5a; 
  }

  .btn-action:nth-child(3) {
    background-color: #28a745; 
  }

  .btn-action:nth-child(4) {
    background-color: #9c341a; 
  }


 
  /* Hover effect */
  .btn-action:hover {
    opacity: 0.9;
    transform: scale(1.03);
  }

  .btn-action:active {
    transform: scale(0.97);
  }


  /* Status badges */
.status {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}

.cancelled {
    background-color: #ffebee;
    color: #f44336;
}

.finalized {
    background-color: #e8f5e9;
    color:  #4CAF50;
}

  

.btn-generate {
    margin-left: auto;
    background: var(--gradient);
    color: var(--white);
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
}

.btn-generate:hover {
    box-shadow: 0 4px 12px rgba(76, 175, 80, 0.3);
}